.layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #e2e2ff;
}

.mainContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 24px 32px;
}

@media (max-width: 900px) {  .content {    padding-bottom: 74px; /* hauteur de la barre (64px) + marge de sécurité */  }}